.header {
  height: 98px;
  background-color: #eee;
}

.header .container {
  height: 100%;
}

.header-main {
  height: 100%;
}

.header .menu {
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.header .menu .list-menu {
  display: none;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}

.header .menu .list-menu ion-icon {
  font-size: 50px;
  cursor: pointer;
}

.header .menu-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.header .menu-item {
  display: flex;
  align-items: center;
  margin-right: 32px;
  position: relative;
}

.header .menu-item ion-icon {
  font-size: 25px;
  font-weight: 500;
}

.header .menu-item a {
  font-weight: 500;
  font-size: 25px;
  color: #032f4a;
  text-transform: uppercase;
}

.header .menu-item .sub-menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 500px;
  height: 300px;
  background-color: #eee;
  z-index: 10;
  padding: 0 15px;
  display: none;
}

.header .menu-item.hover {
  padding: 20px 0;
}

.header .menu-item.hover:hover .sub-menu {
  display: block;
}

.header .menu-item .sub-menu .title {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #032f4a;
  margin-top: 15px;
}

.header .menu-item .sub-menu .list-car {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.header .menu-item .sub-menu .list-car .car-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .menu-item .sub-menu .list-car .car-item img {
  width: 100px;
  margin-bottom: 5px;
}

.header .menu-item .sub-menu .list-car .car-item .name-car a {
  font-weight: 500;
  color: #032f4a;
  font-size: 15px;
}

.header .menu-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header .menu-contact {
  display: flex;
  align-items: center;
}

.header .contact-phone a {
  color: black;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 400;
}

.header .contact-info {
  width: 160px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #888;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  justify-content: space-evenly;
  color: black;
}

.tab-header {
  height: 85px;
  background-color: #032f4a;
}

.tab-header .container {
  height: 100%;
  width: 1500px;
}

.tab-header .list-tab {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  color: #888;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.tab-header .list-tab .tab-item {
  display: flex;
  align-items: center;
}

.tab-header .list-tab .tab-item a {
  color: #888;
}
